WindowsFormsApp3/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9093/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9093/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9093/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService6" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_cuadrado_InputMessage">
    <wsdl:part name="parameters" element="tns:cuadrado" />
  </wsdl:message>
  <wsdl:message name="IService1_cuadrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:cuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_operation_InputMessage">
    <wsdl:part name="parameters" element="tns:operation" />
  </wsdl:message>
  <wsdl:message name="IService1_operation_OutputMessage">
    <wsdl:part name="parameters" element="tns:operationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_operation_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService6" name="detail" element="q1:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IService1_operation_InvalidOperationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService6" name="detail" element="q2:InvalidOperationFault" />
  </wsdl:message>
  <wsdl:message name="IService1_intCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:intCounter" />
  </wsdl:message>
  <wsdl:message name="IService1_intCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:intCounterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/cuadrado" message="tns:IService1_cuadrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/cuadradoResponse" message="tns:IService1_cuadrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="operation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/operation" message="tns:IService1_operation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/operationResponse" message="tns:IService1_operation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/operationArgumentFaultFault" name="ArgumentFaultFault" message="tns:IService1_operation_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/operationInvalidOperationFaultFault" name="InvalidOperationFaultFault" message="tns:IService1_operation_InvalidOperationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="intCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/intCounter" message="tns:IService1_intCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/intCounterResponse" message="tns:IService1_intCounter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <soap:operation soapAction="http://tempuri.org/IService1/cuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operation">
      <soap:operation soapAction="http://tempuri.org/IService1/operation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidOperationFaultFault">
        <soap:fault use="literal" name="InvalidOperationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="intCounter">
      <soap:operation soapAction="http://tempuri.org/IService1/intCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:9093/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>